# This file exists to create the expected directory structure.
# It ignores everything in this directory except for this file.
/*
!.gitignore

# These allow expected directories to exist.
!populate_dev
!populate_reset_dev
